<div class="container">
    <div class="row top-margin">
        <div class="col-md-12">
            <div class="form-group">
                <label>Product Category</label>
                <select [(ngModel)]="selectedCategory" (ngModelChange)="loadProducts($event)" class="category-value" class="form-control">
                    <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 mx-auto my-5" *ngFor="let product of products">
            
        <mat-card class="product-card">
            <mat-card-header>
                <mat-card-title></mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
        
            <mat-card-content>{{product.name}}
            </mat-card-content>
        
            <mat-card-actions>
                Price:
                <label style=
                    "background-color:blue; color:white">
                    {{product.price}}
                </label>
        
                <button mat-button style=
                    "background-color:green; color:white" routerLink="/buyPage">
                    BUY
                </button>
            </mat-card-actions>
        </mat-card>
        </div>
    </div>
</div>
